/* smartphone media query */
@media screen and (max-device-width: 600px){
    .logoHeader{
        width: 25%;
    }
    header{
        align-items: flex-end;
    }
    .mainNav{
        display: none;
    }
    /* menu burger */
    header .burger{
        display: block;
        width: 48px;
        height: 48px;
        padding: 10px;
        margin: 0px 20px 20px 0px;
    }
    header .burger{
        position: relative;
        z-index: 3;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    header .burger span{
        display: block;
        height: 4px;
        background: #76B900;
        width: 100%;
    }
    .visible{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.85);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .visible a{
        font-size: 1.5rem;
        color:  #76B900;
        margin: 30px;
    }
    /* banner */
    figcaption{
        opacity: 0;
    }
    /* main content & aside */
    .mainContent{
        flex-wrap: wrap;
    }
    .mainArticle{
        width: 100%;
        margin-right: 20px;
    }
    .mainArticle h2{
        font-size: 1rem;
    }
    .aPropos{
        width: 100%;
        margin-right: 20px;
    }
    /* footer */
    footer{
        margin-right: 20px;
        flex-wrap: wrap;
    }
    .newsletter{
        width: 100%;
    }
    .galerie{
        width: 100%;
    }
    .partenaires{
        width: 100%;
    }
    .greenBorder, .arrowContainer{
        display: none;
    }
}

/* iPad media query */
@media screen and (min-device-width : 765px) and (max-width : 1023px){
    .logoHeader{
        width: 25%;
    }
    figcaption{
        opacity: 1;
    }
    .mainNav a{
        font-size: 1rem;
    }
    figcaption{
        font-size: 0.9rem;
    }
    .greenButton{
        font-size: 0.9rem;
    }
    .mainContent{
        flex-wrap: wrap;
    }
    .mainArticle{
        width: 100%;
        margin-right: 20px;
    }
    .mainArticle h2{
        font-size: 1rem;
    }
    .firstAboutContainer{
        width: 42%;
    }
    .firstAboutContainer .logoAbout{
        width: 75%;
    }
    .secondAboutContainer{
        width: 42%;
    }
    .aPropos{
        width: 100%;
        margin-right: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .linksApropos{
        width: 100%;
    }
    footer{
        margin-right: 20px;
        flex-wrap: wrap;
    }
    .newsletter{
        width: 100%;
    }
    .galerie{
        width: 100%;
    }
    .galeryContainer{
        justify-content: space-around;
    }
    .partenaires{
        width: 100%;
    }
    .greenBorder, .arrowContainer{
        display: none;
    }
}